<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='style.css')}}">
    <title>Change password</title>
</head>
<body>
  <div class="navbar">
    <a class="active" href="{{url}}loginsuccess"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="{{url}}ibm"> IBM</a>
    <a href="{{url}}logout" ><i class="button"></i> Logout</a>
 </div>
 <br>
    <h2>Change Password for Admin</h2>
    <form action="{{url}}changepassword"  method="POST">
     Current Password <input type ="password" name=password   placeholder="current password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Enter Minimum eight characters, at least one uppercase letter, one lowercase letter , one special character  and one number" required/><br>
     New Password <input type ="password" name=password1   placeholder="new password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Enter Minimum eight characters, at least one uppercase letter, one lowercase letter , one special character  and one number" required/><br>
     Conform Password <input type ="password" name=password2   placeholder="Conform password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Enter Minimum eight characters, at least one uppercase letter, one lowercase letter , one special character  and one number" required/><br>
    <input type="submit" value="change password">
    </form> 
</body>
</html>