<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5004/register", method="POST">
        <p>username<input text="text" name="user" placeholder="username" required><br>
        password <input text="password" name="password" placeholder="password" required><br>
        conform password <input text="password" name="cpassword" placeholder="password" required><br>
        <input type="submit" value = "submit">
        </p>
    </form>
</body>
</html>